<div class="container">
    <header>
        <p class="banner">"Một thư viện tốt là nơi mọi câu hỏi đều có thể tìm được khởi đầu của câu trả lời."</p>
        <article>
            <p class="name-app">- Library -</p>
            <div class="stats">
                <div class="stat-item">
                    <p class="stat-number">12,480</p>
                    <p class="stat-label">Đầu sách</p>
                </div>

                <div class="stat-item">
                    <p class="stat-number">12,480</p>
                    <p class="stat-label">Thành viên</p>
                </div>

                <div class="stat-item">
                    <p class="stat-number">12,480</p>
                    <p class="stat-label">Đánh giá</p>
                </div>
            </div>
        </article>
    </header>
    <div class="form-container">
        <router-outlet></router-outlet>
    </div>
</div>
